.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first {
  display: block;
  margin: auto;
  width: 70%;
  height: 800px;
  background-color: black;

}

.oh {
  height: 30%;
  margin-top: 20%;
  display: block;
  margin: auto;
}

.name {color:  white;
  font-size: 20pt;
  display: block;
  text-align: center;


}

.text {display: block;
  margin: auto;

}
.poketmon{ 
  width: 25%;
  height: 300px;
  background-color: white;
  margin-left: 6%;
  float:left;

}
.question {color:  white;
  font-size: 20pt;
  display: block;
  text-align: center;
  

 }
 .poketmon2 { height: 60%;
  display: block;
  margin: auto;


 }
 .poketmon3 { height: 100%;
  display: block;
  margin: auto;


 }
 .minza {
  width: 25%;
  height: 200px;
  display: block;
  margin: auto;
 }
 .second {
  display: block;
  margin: auto;
  width: 80%;
  height: 800px;
  background-color: springgreen;
  padding-top: 1px;

}

.girl {
  height: 75%;
  margin-top: 5%;
  margin-left: 20%;
 
}
.div1 {
  height: 400px;
  width: 20%;
  padding-top: 1px;
  padding-left: 1px;
  float: left;
  margin-left: 20%;
  

}
.name_2 {
  margin-top: 20px;
  margin-left: 50%;
  
}

.monster {
  height: 50%;
  margin-top: 50%;
  transition: margin 1s;

  
  

}

.monster2 {
  
  margin-left: 20px;
  transition: margin 1s;

  


}



.div2{ height: 400px;
  padding-top: 1px;
  float: left;
  margin-left: 20%;


}
.info {
  
  margin-left: 22%
 
}

.adventure {
  width: 100%;
  height: 200px;
 
  text-align: center;
  

}



.box {
  display: inline-block;
  width: 20%;
  height: 200px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: azure;
  opacity: 90%;
}

.naming {
  text-align: center;
  
}

.background {
  background-image: url('file:///Users/yeonjun/Desktop/git/git-tuto/pocketmon/public/pngwing.com%20(2).png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;

}

.detailpage {
  display: block;
  margin: auto;
  width: 30%;
  background-color: beige;
  text-align: center;
}

.center{margin: auto;
  display: block;
}



.outside {
  text-align: center;

}

.hunt {
width: 40%;
height: 400px;
margin: auto;
background-color: azure;

}

.mypocketmon {
  display: block;
  margin: auto;
  margin-top: 0px;
  transition: margin 1s;
  
  
  
  

}

.fading {
  margin-top: 40px;
  transition: margin 1s
  

}

.detailbox {
  
  width: 100%;
  height: 80%;
  margin-top: 7%;
  position: relative;
  
 

}

.detailbox::before{
  filter: brightness(75%);
  opacity: 50%;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('file:///Users/yeonjun/Desktop/git/git-tuto/pocketmon/public/pngwing.com%20(2).png');
  background-color:palegreen;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.relative {
  position: relative;
}