.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first {
  display: block;
  margin: auto;
  width: 70%;
  height: 800px;
  background-color: black;

}

.oh {
  height: 30%;
  margin-top: 20%;
  display: block;
  margin: auto;
}

.name {color:  white;
  font-size: 20pt;
  display: block;
  text-align: center;


}

.text {display: block;
  margin: auto;

}
.poketmon{ 
  width: 25%;
  height: 300px;
  background-color: white;
  margin-left: 6%;
  float:left;

}
.question {color:  white;
  font-size: 20pt;
  display: block;
  text-align: center;
  

 }
 .poketmon2 { height: 60%;
  display: block;
  margin: auto;


 }
 .poketmon3 { height: 100%;
  display: block;
  margin: auto;


 }
 .minza {
  width: 25%;
  height: 200px;
  display: block;
  margin: auto;
 }
 .second {
  display: block;
  margin: auto;
  width: 70%;
  height: 800px;
  background-color: peachpuff;

}

.girl {
  height: 75%;
  margin-top: 5%;
  margin-left: 20%;
 
}
.div1 {
  height: 400px;
  padding-top: 1px;
  float: left;
  margin-left: 20%;
  

}
.name_2 {
  margin-top: 20px;
  margin-left: 50%;
  
}

.monster {
  height: 50%;
  margin-top: 50%;
  position: relative;

  
  

}

.monster2 {
  left: 40px;

  


}



.div2{ height: 400px;
  padding-top: 1px;
  float: left;
  margin-left: 20%;


}
.info {
  
  margin-left: 22%
 
}

.adventure {
  width: 100%;
  height: 200px;
 
  text-align: center;
  

}



.box {
  display: inline-block;
  width: 20%;
  height: 200px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: azure;
  opacity: 90%;
}

.naming {
  text-align: center;
  
}

.background {
  background-image: url('https://w.namu.la/s/8d0ac4491b28831a1b633640522b415e6532a2d1dc7db71e0fb429b8ae97d2b228141530c157de42bf30ce8756637951690b6d0ea9838542b3535768ae638ad221d6916d194e2d39ec4615034aeee38a7bfda6afd88175502d42fa2d92a4455f');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.detailpage {
  display: block;
  margin: auto;
  width: 30%;
  background-color: beige;
  text-align: center;
}

.center{margin: auto;
  display: block;
}



.outside {
  text-align: center;

}

.hunt {
width: 40%;
height: 400px;
margin: auto;
background-color: azure;

}