.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first {
  display: block;
  margin: auto;
  width: 70%;
  height: 800px;
  background-color: black;

}

.oh {
  height: 30%;
  margin-top: 20%;
  display: block;
  margin: auto;
}

.name {color:  white;
  font-size: 20pt;
  display: block;
  text-align: center;


}

.text {display: block;
  margin: auto;

}
.poketmon{ 
  width: 25%;
  height: 300px;
  background-color: white;
  margin-left: 6%;
  float:left;

}
.question {color:  white;
  font-size: 20pt;
  display: block;
  text-align: center;
  

 }
 .poketmon2 { height: 60%;
  display: block;
  margin: auto;


 }
 .poketmon3 { height: 100%;
  display: block;
  margin: auto;


 }
 .minza {
  width: 25%;
  height: 200px;
  display: block;
  margin: auto;
 }
 .second {
  display: block;
  margin: auto;
  width: 70%;
  height: 800px;
  background-color: peachpuff;

}

.girl {
  height: 75%;
  margin-top: 5%;
  margin-left: 20%;
 
}
.div1 {
  height: 400px;
  padding-top: 1px;
  float: left;
  margin-left: 20%;
  

}
.name_2 {
  margin-top: 20px;
  margin-left: 50%;
  
}

.monster {
  height: 50%;
  margin-top: 50%;
  position: relative;

  
  

}

.monster2 {
  left: 40px;

  


}



.div2{ height: 400px;
  padding-top: 1px;
  float: left;
  margin-left: 20%;


}
.info {
  
  margin-left: 22%
 
}

.adventure {
  width: 100%;
  height: 200px;
  text-align: center;
  

}

.advenbutton {
margin-top: 100px;

}

