<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/nextweek.css" type="text/css" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="main">


<div class="phone">
<p class="info">{{date}} </p>
<p class="info">E-Mail : {{e_mail}}</p>
<p class = "info">name : {{name}}</p>
<p class = "info">부서명 : {{dept}}</p>
<p class = "info">구독이 완료되었습니다^^</p>
</div>


</div>
<a href = "/next" ><image src = "https://cdn-icons-png.flaticon.com/512/271/271228.png" class = "nextbutton"></a>
</body>
</html>